.header1 {
 font-family:"Georgia";
 text-align:"center";
 color: dark green;
}
 .header2 {
    
    font-family:georgia;
    text-align:"center";
    color: black;
 }
 
 a {
    text-decoration:none;
   }

 
 a:hover {
   text-decoration:underline;
   color:hotpink;
  }
  span{
     text-transform:"upperCase";
  } 

