.main-head {
    grid-area: header;
    padding: 80px;
      text-align: center;
      background-color:rgb(200, 221, 107);
      color:blueviolet;
      font-size: 40px;
    
  }
  .content {
    grid-area: content;
  }
  .main-nav {
    grid-area: nav;
  
  }
  .side {
    grid-area: sidebar;
    color:rgb(245, 189, 206);
  }
  .ad {
    grid-area: ad;
    color:rgb(75, 192, 147);
  }
  .main-footer {
    grid-area: footer;
   
  }
  .wrapper {
      display: grid;
      gap: 20px;
      grid-template-areas:
        "header"
        "nav"
        "content"
        "sidebar"
        "ad"
        "footer";
    float: left;   
  margin: 30px 12px 3px 4px;   
  border: 2px solid rgb(102, 151, 184);  
  }
  
  body {
      background-color: lightblue;
      font-family: 'Zen Dots', cursive;
    }
    p {
      font-family: verdana;
      font-size: 20px;
      color:rgb(199, 136, 20);
     
    }    
  
    h1{
        color:rgb(15, 100, 116);
    }
    
    @media screen and (max-width: 600px) {
      body {
        background-color:darksalmon;
        color: white;
      }
    }
   